fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langgraph
chromadb
sentence-transformers
pypdf
python-dotenv
python-multipart
pydantic
groq
streamlit
requests